.error-body {
    -fx-border-width: 2px;
    -fx-border-color: rgb(45, 45, 50);
    -fx-border-style: solid;
    -fx-background-color: rgb(60, 60, 65);
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-border-radius: 20px;
    -fx-background-insets: 0, 0 1 1 0;
    -fx-background-radius: 20;
}

.text-area {
    -fx-background-color: rgba(60, 60, 65, 1), rgba(60, 60, 65, 1);
    -fx-text-fill: white;
}

.text-area .content {
    -fx-background-color: rgba(60, 60, 65, 1);
}

.text-area:focused .content {
    -fx-background-color: rgba(60, 60, 65, 1);
}

.error-text {
    -fx-text-fill: white;
    -fx-font-size: 14;
}

.error-header {
    -fx-border-color: yellow;
    -fx-border-width: 0 0 2 0;
}

.error-header > .error-text {
    -fx-text-fill: yellow;
    -fx-font-size: 16;
}

.error-button {
    -fx-border-width: 2px;
    -fx-border-color: yellow;
    -fx-border-style: solid;
    -fx-border-radius: 20px;
    -fx-background-color: rgb(60, 60, 65);
    -fx-background-radius: 20;
    -fx-text-fill: yellow;
}

