.scene-body {
    -fx-border-width: 2px;
    -fx-border-color: rgb(45, 45, 50);
    -fx-border-style: solid;
    -fx-background-color: rgb(60, 60, 65);
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-background-insets: 0, 0 1 1 0;
}

.scene-body > .scene-text {
    -fx-text-fill: yellow;
    -fx-font-size: 48;
    -fx-font-weight: bold;
}

.scene-content {
    -fx-border-width: 2 0 0 0;
    -fx-border-color: yellow;
    -fx-border-style: solid;
    -fx-background-color: rgb(60, 60, 65);
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-background-insets: 0, 0 1 1 0;
}

.button {
    -fx-border-width: 2px;
    -fx-border-color: yellow;
    -fx-border-style: solid;
    -fx-border-radius: 20px;
    -fx-background-color: rgb(60, 60, 65);
    -fx-background-radius: 20;
    -fx-text-fill: yellow;
}